
/** Css Variables*/
root{
    --text-font-size:36px;
    --font-primary: arial, helvetica;
    --font-secondary: sans-serif;
    --font-action: sans-serif;
}

/* Defaults*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../assets/img/light-day-t-bg.jpg");
    background-size: cover;
}

.content-container{
    background-color: #7b573d;
    height: 100vh;
    width: 90vw;
    margin-left: 5vw;
    border-radius: 5px;
    padding: 10px;
}

.class-page{
    margin-top: 62px;
}

/* Menu */
.menuBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-primary);
    font-size: 24px;
    background-color: #7b573d;
    height: 8vh;
    margin-bottom: 10px;
    width: 100% !important;
}

.menuBar p{
    color: black;
}

.menuBar a{ text-decoration: none;}

.menuBar a:hover{
    opacity: 0.7;
    color: white;
}

.menuBar p:hover{
    color: white;
}

.menuBar .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.menuItens{
    list-style: none;
    display: flex;
}

.menuItem{
    margin-left: 32px;
}

.menuBarButton{
    cursor: pointer;
    display: none;
    background: #000;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}

/* Menu de Navegação (Responsividade)*/
@media (max-width: 768px) {
    .menuItens{
        position: fixed;
        top: 8vh;
        right: 0;
        width: 40vw;
        height: 92vh;
        background: #7b573d;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        z-index: 1;
        transition: transform 1s ease-in-out;
    }

    .menuItem{
        margin-left: 0;
        opacity: 0;
        transition: transform 1s ease-in-out;
    }

    .menuBarButton{
        display: block;
    }
    

    .menuBarButton:focus + .menuItens {
            transform: translateX(0);
        }
        /*.menuItens*/
        .menuItem{
            opacity: 100%;
        }

    body{
        background-image: none !important;
        background-color: green;
    }
}

/* Content Default*/
.content-title{
    align-self: center !important;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content-container img{
    
    width: 236px;
    height: 296px;
    border: #5e412d solid 10px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 10px;
}

.class-art{
    border-radius: 10px !important; 
}

.class-overview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.class-definition-text{
    margin: 1rem 1.5rem;
}

.class-definition-text p{
    text-align: justify;
    font-size: var(--text-font-size);
    font-family: var(--font-secondary);
}

